@charset "UTF-8";
body {
	background-color: green;
	/*background-image: url(![background image](https://picjumbo.imgix.net/HNCK4530.jpg?q=40&w=1650&sharp=30));*/
	background-size: cover;
}
.container {
	background-color: #FFF;
}
footer {
	padding-top: 20px;
}

