@charset "UTF-8";
body {
	background-image: url("picjumbo.com_HNCK4530.jpg");
	background-size: contain;
	background-attachment: fixed;
}
h1 {
	padding-top: 40px;
}

h2, h4 {
	text-align: center;
	margin-top: 0;
	padding-bottom: 10px;
}
.col-md-3 {
	background-color: #EFEEEE;
}
.img-thumbnail {
	margin-bottom: 30px;
	
}
#fav_things {
	background-color: #EFEEEE;
	padding-top: 20px;
}
footer {
	padding-top: 20px;
	background-color: #FFFFFF;
}
h1, h2, h3, h4  {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
