@charset "UTF-8";
body {
	background-image: url("picjumbo.com_HNCK4530.jpg");
	background-size: contain;
	/*background-repeat: repeat-y;*/
}
h1 {
	padding-top: 40px;
}
.col-md-3 {
	background-color: #FFFFFF;
}
.img-thumbnail {
	padding-bottom: 30px;
}
footer {
	padding-top: 20px;
	background-color: #FFFFFF;
}

